/* Fonts */

@font-face {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Source Sans Pro"), url('/fonts/SourceSansPro-Regular.ttf') format('ttf');
}

@font-face {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local("Source Sans Pro"), url('/fonts/SourceSansPro-SemiBold.ttf') format('ttf');
}

@font-face {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Source Sans Pro"), url('/fonts/SourceSansPro-Bold.ttf') format('ttf');
}

@font-face {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local("Source Sans Pro"), url('/fonts/SourceSansPro-Black.ttf') format('ttf');
}

/* Styles */

.html {
    scroll-behavior: smooth;
}

.body {
    font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.header {
    display: flex;
    scroll-behavior: smooth;
}

.container-top {
    max-width: 100%;
    margin: 0 auto;
}

.header__box {
    display: flex;
    flex-direction: row;
    margin: 160px auto;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}


.header__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    background-color: #ffffff;
    position: fixed;
    box-shadow: 0px 0px 10px #ebebeb;

    transition: all 1s ease;
}


.header__logo {
    padding-left: 90px;
}

.header__menu {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.header__menu-list {
    display: flex;
    flex-direction: row;
}

.header__menu-list-item {
    padding-right: 40px;
}

.header__menu-link {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #303030;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.header__menu-link:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .header__menu-link:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

.header__languages {
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.header__languages-list {
    display: flex;
}

.header__languages-list-item {}

.header__languages-link {
    padding: 0 10px;
}

.header__content {}

.header__content-title {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 75px;
    color: #303030;
    width: 700px;
}

.header__content-undertitle {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 34px;
    color: #303030;
    margin-top: 20px;
}

.header__content-img {}

.header__form {
    width: 464px;
    height: 100%;
    background: #F7FAFF;
    border: 2px solid #E5ECF7;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 75px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.header__form-title {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #324D5B;
    line-height: 30px;
    width: 380px;
}

.header__form-title--red {
    font-family: "Source Sans Pro", sans-serif;
    color: #F04040;
}

.header__form-title--bold {
    font-weight: bold;
    font-size: 27px;
    font-weight: bold;
}

.header__form-input {
    margin-top: 30px;
}

.header__input-form {
    background: #FFFFFF;
    border: 1px solid #E5ECF7;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    height: 35px;
}

.header__form-input-text {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #324D5B;
    margin-bottom: 10px;
}


.header__input-form--big {
    height: 130px;
    margin-bottom: 30px;
    line-height: 20px;

    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #303030;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.header__form-checkbox-input {
    background: #FFFFFF;
    border: 1px solid #E5ECF7;
    box-sizing: border-box;
    border-radius: 2px;
}

.header__form-checkbox {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #324D5B;
}

.header__form-link {}

.header__form-btn {
    margin: 20px auto;
}

.button {
    background: #324D5B;
    border-radius: 50px;
    border-color: transparent;
    width: 376px;
    height: 60px;

    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.button:hover {
    transition: 0.7s;
    box-shadow: 0px 0px 10px #40B7FF;
}

.button:not(:hover) {
    transition: 0.7s;
}

.button:active {
    background: #007fce;
}

.about {
    background: #F6FAFF;
    padding-top: 136px;
    padding-bottom: 136px;
}

.about__pluses {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 130px;
}

.about__plus {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__plus-img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.about__plus-text {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #303030;
}

.about__content {
    display: flex;
}

.about__macbook {
    width: 100%;
    height: 100%;
}

.about__macbook-img {
    background-image: url("/img/MacBook.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 483px;
}

.about__introduce {
    margin-left: 40px;
    padding-top: 50px;
}

.about__introduce-title {
    margin-top: 35px;
}

.title {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #324D5B;
}

.about__introduce-text {
    margin-top: 30px;
}

.text {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    color: #324D5B;

}

.prices {
    padding-top: 150px;
    padding-bottom: 110px;
}

.prices__box {
    display: flex;
}

.prices__description {
    background: #F6FAFF;
    border-radius: 5px;
    padding: 50px 121px;

    width: 588px;
    height: 371px;
}

.prices__description-title {
    margin-bottom: 30px;
    width: 465px;
}

.prices__description-text {
    margin-bottom: 30px;
    width: 435px;
}

.prices__plans {
    display: flex;
    padding-left: 122px;
}

.prices__card {
    background: #FFFFFF;
    border: 2px solid #E5ECF6;
    box-sizing: border-box;
    border-radius: 5px;
    width: 223px;
    height: 371px;
    margin-left: 20px;
    text-align: center;
}

.prices__card-img {
    margin: 20px auto;
}

.prices__card-plans {
    padding: 10px;
}

.card-plans--blue {
    background: #E5ECF6;
}

.plans__card-text {}

.text--blue {}

.prices__card-price {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #324D5B;
    margin-top: 20px;
}

.prices__card-desc {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #324D5B;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.prices__card-btn {
    width: 150px;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #324D5B;
    box-sizing: border-box;
    border-radius: 50px;

    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    color: #324D5B;
    margin: 25px auto;
    cursor: pointer;
}

.prices__card-btn:hover {
    box-shadow: 0px 0px 20px #dce5f1;
}

.card-plans--red {
    background: #F04040;
}

.text--white {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    color: #FFFFFF;
}

.prices__stages {
    display: flex;
    justify-content: space-evenly;
    margin-top: 130px;
}

.prices__stage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prices__stage-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    text-align: center;

    color: #F6FAFF;

}

.prices__stage-number--1 {
    background-image: url("/img/1.svg");
}

.prices__stage-number--2 {
    background-image: url("/img/2.svg");
}

.prices__stage-number--3 {
    background-image: url("/img/3.svg");
}

.prices__stage-number--4 {
    background-image: url("/img/4.svg");
}

.prices__stage-number--5 {
    background-image: url("/img/5.svg");
}

.prices__stage-text {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;

    color: #303030;
    max-width: 190px;
    margin-top: 17px;
}

.projects {
    background: #F6FAFF;
    padding-top: 150px;
    padding-bottom: 100px;
}

.projects__section {
    display: flex;
    flex-direction: column;
}

.projects__title {
    text-align: center;
}

.projects__box {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}

.projects__box-img {}

.projects__review-box {
    width: 710px;
    padding: 50px 122px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.projects__review-text {}

.projects__review-user {
    display: flex;
    margin-top: 30px;
}

.projects__review-user-img {}

.projects__review-user-info {}

.projects__review-user-name {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #303030;
}

.projects__review-user-job {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #303030;
}

.projects__review-user-www {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #324D5B;
}

.projects__review-btn {
    margin: 30px auto 0;
}

.footer {
    padding-top: 150px;
    padding-bottom: 30px;
}

.footer__section {
    display: flex;
    flex-direction: column;
}

.footer__gift {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.footer__gift-title {
    width: 500px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #324D5B;
    margin-bottom: 30px;
}

.text--fz40 {
    font-size: 40px;
}

.footer__gift-text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #324D5B;
    margin-bottom: 30px;
}

.footer__gift-btn {
    margin-bottom: 150px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__contacts-undertitle {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 27px;
    line-height: 34px;
    color: #324D5B;
    margin-bottom: 30px;
}

.undertitle {}

.footer__contacts-text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #324D5B;
}

.contacts__text--bold {
    font-weight: bold;
}

.footer__copyrights {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}

.footer__copyright-studio {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.footer__privacy {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    text-decoration: none;
}