/* Mobile */

@media (min-width: 320px) and (max-width: 767px) {
    .container {
        max-width: 320px;
        padding: 0 20px;
    }

    .container-top {}

    .header__top {
        display: flex;
        padding-left: unset;
        padding-top: 15px;
        flex-direction: column;
        align-items: center;
    }

    .header__logo {
        padding-left: unset;
        width: 280px;
        height: 50px;
        margin-bottom: 30px;
    }

    .header__menu {
        display: none;
    }

    .header__menu-list {}

    .header__menu-list-item {}

    .header__menu-link {}

    .header__languages {
        padding-right: unset;
    }

    .header__languages-list {}

    .header__languages-list-item {}

    .header__languages-link {}

    .wrapper {}

    .header {}

    .header__box {
        display: block;
        margin: 170px auto;
        margin-bottom: 70px;
    }

    .header__content {}

    .header__content-title {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;
        color: #303030;
        width: 300px;
    }

    .header__content-undertitle {
        font-size: 18px;
        line-height: 23px;
        color: #303030;
    }

    .header__content-img {
        margin-top: 50px;
    }

    .header__form {
        margin-left: 0;
        height: 100%;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header__form-title {
        width: 250px;
        margin-top: 40px;
        text-align: center;
        font-family: "Source Sans Pro", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: #324D5B;
    }

    .header__form-title--red {}

    .header__form-title--bold {}

    .header__form-input {}

    .header__form-input-text {}

    .header__input-form {}

    .header__input-form--big {}

    .test {}

    .header__form-checkbox-input {}

    .header__form-checkbox {}

    .header__form-link {}

    .header__form-btn {}

    .button {
        width: 236px;
        height: 50px;
    }

    .about {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .about__pluses {
        flex-direction: column;
        margin-bottom: 90px;
    }

    .about__plus {
        align-items: center;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .about__plus-img {}

    .about__plus-text {}

    .about__content {
        flex-direction: column;
    }

    .about__macbook {}

    .about__macbook-img {
        background-image: url("/img/iPhone.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        height: 415px;
        width: 219px;
        margin: 0 auto;
    }

    .about__introduce {}

    .about__introduce-title {}

    .title {
        font-family: "Source Sans Pro", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;
        color: #324D5B;
    }

    .about__introduce-text {}

    .text {}

    .prices {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .prices__box {
        flex-direction: column;
    }

    .prices__description {
        padding: 50px 20px;
        width: 100%;
        height: 100%;
    }

    .prices__description-title {
        font-size: 27px;
    }

    .prices__description-text {
        margin-bottom: 20px;
        width: 100%;
    }

    .prices__plans {
        padding-left: 0;
        flex-direction: column;
        align-items: center;
    }

    .prices__card {
        margin-left: unset;
        margin: 40px auto;
    }

    .prices__card-img {}

    .prices__card-plans {}

    .card-plans--blue {}

    .plans__card-text {}

    .prices__card-price {}

    .prices__card-desc {}

    .prices__card-btn {}

    .card-plans--red {}

    .text--white {}

    .prices__stages {
        flex-direction: column;
        margin-top: 70px;
    }

    .prices__stage {}

    .prices__stage-number--1 {}

    .prices__stage-number {}

    .prices__stage-text {
        margin-bottom: 30px;
    }

    .prices__stage-number--2 {}

    .prices__stage-number--3 {}

    .prices__stage-number--4 {}

    .prices__stage-number--5 {}

    .projects {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .projects__section {}

    .projects__title {}

    .projects__box {
        flex-direction: column;
    }

    .projects__box-img {
        margin: 50px auto;
    }

    .projects__review-box {
        width: 100%;
        padding: 30px 10px;
    }

    .projects__review-text {}

    .projects__review-user {}

    .projects__review-user-img {}

    .projects__review-user-info {}

    .projects__review-user-name {}

    .projects__review-user-job {}

    .projects__review-user-www {}

    .projects__review-btn {
        display: none;
    }

    .footer {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .footer__section {}

    .footer__gift {}

    .footer__gift-title {
        font-family: "Source Sans Pro", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        color: #324D5B;
        width: 80%;
    }

    .text--fz40 {
        font-size: 24px;
    }

    .footer__gift-text {}

    .footer__gift-btn {
        margin-bottom: 70px;
    }

    .footer__contacts {}

    .footer__contacts-undertitle {}

    .undertitle {}

    .footer__contacts-text {
        margin-bottom: 10psx;
    }

    .contacts__text--bold {}

    .footer__copyrights {
        flex-direction: column;
    }

    .footer__copyright-studio {
        margin-bottom: 20px;
    }

    .footer__privacy {}

}

/* Tablets */

@media (min-width: 768px) and (max-width: 1023px) {}

/* Laptops + */

@media (min-width: 1024px) and (max-width: 1439px) {}